@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aliauw\/Projects\/pul_digital_humanities\/sites\/all\/themes\/pul_digital_humanities\/sass\/pul-digital-humanities\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aliauw\/Projects\/pul_digital_humanities\/sites\/all\/themes\/pul_digital_humanities\/sass\/pul-digital-humanities\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
