.l-branding--child {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    p {
        margin: 0;
    }
    img {
        // margin: 0 auto;
        display: block;
    }
}