.wrapper--navigation {
    background: transparent;
    border-bottom: none;

    height: auto;

    .menu .leaf .active {
        background: #f5f4f1;
        color: #e87511;
    }
}

.wrapper--navigation .centered-navigation-menu > ul > li a {
    margin: 0 0.5em;
    padding: 0.5em;

    display: inline;

    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    border-radius: 4px;
}