.front .view-recent-article-posts {
    .views-row {
        clear: both;
    }
    .views-field-field-featured-image {
        float: left;
        margin-right: 1em;
    }
    .views-field-title {
    }
    .views-field-field-article-snippet {
    }
}