.flexslider {
    margin-bottom: 0;
    border: none;

    background: #000;
    color: #fff;

    .views-field-title {
        padding: 1em;

        a {
            color: #fff;
        }

        p {
            margin: 0;
        }
    }
}